<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.larsgrefer.bpmMeter"
    android:versionCode="6"
    android:versionName="1.2.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name="com.larsgrefer.bpmMeter.bpmMeterActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.larsgrefer.bpmMeter.settingsActivity"
            android:label="@string/settings_title"></activity>
    </application>

</manifest>